* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  
}

body {
 height: 100vh;
 width: 100vw;
  background-color: #f2f2f2;
  margin: 0;
  font-size: 1vw; /* Set a base font size for the body using vw units */
}

.grad::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(242, 242, 242, 1));
  pointer-events: none;
}

.cardholder {
  position: absolute;
  left: 0;
  height: 100%;
  top: 25vw;
  /* width: 100%; */
  max-width: 98vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-start;
  z-index: 1;
}

.cards {
  margin: 1%;
  height: 25vw;
  width: 23%;
  background-color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  font-size: 100%; /* Set font size using vw units */
}
.cards:hover {
  margin: 1%;
  height: 25vw;
  width: 23%;
  background-color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  font-size: 100%; /* Set font size using vw units */
  transform: scale(1.008);
  transition-duration: .2s;
}


.cardcont {
  margin: .5%;
  height: 40%;
  width: 45%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.cardcont:hover{
  transform: scale(1.08);
  transition-duration: .2s;
  cursor: pointer;
}
.cardcont:hover{
  transform: scale(1.08);
  transition-duration: .2s;
}
.cardcont img {
  width: 85%;
  height: 75%;
  
}

.cardcont div {
  background-color: white;
  color: rgb(212, 6, 6);
  font-size: 0.8vw; /* Set font size using vw units */
  font-weight: 600;
  display: inline-block;
}

.cardhead {
  width: 95%;
  height: 10%;
  margin: 0.2%;
  padding-top: 0;
  font-weight: 600;
  font-size: 1.6vw; /* Set font size using vw units */
  text-align: center;
}
.top {
  width: 100vw; /* Set width to 100% of the viewport width */
  background-color: rgb(19, 26, 34);
  height: 4vw;
  position:fixed;
  z-index: 4;
  display:flex;
cursor: pointer;
 
}
.topsecond {
  z-index: 2;
  width: 99vw; /* Set width to 100% of the viewport width */
  background-color: #25303d;
  height: 2.5vw;
  position: absolute;
  display: flex;
  margin-top: 4vw;
  justify-content: space-around;
  align-content: center;
  font-size: 1vw;
  cursor: pointer;
 
}
.topsecond > div{
   color: #FFFFFF;
   font-size: 100%;
   padding-top: .3vw;
}
.topsecond > div:hover{
  filter: brightness(5.5);
 

 
}
.three{
  display: flex;
  height:2vw;
  flex-direction: row;
  align-content: center;
  justify-content: center;

}
.top{
  display: flex;
  align-items: center;
  
  justify-content: space-around;
}
.top > div:hover{
  
  border-color: aliceblue;border-width: .1vw;border-style: solid;
}
#carouselExample{
  width: 100vw;
  height: 10vw;
}
.carousel-item img{
  height: 45vw;
}
.mainfoot{
  display: flex;
  width:100vw;
 
  background-color: #232f3e ;
  justify-content: space-around;
}
.mainfoot >div{
  display: flex;
  flex-direction: column;
  margin-top: 1vw;
 
}
.headfoot{
  margin-top:2vw;
  color: white;
  font-weight:bold;
  margin-bottom: .4vw;
  cursor: pointer;
}
.contfoot{
  color:whitesmoke;
  margin: .1vw;
  cursor: pointer;
}
.secondfoot{
  background-color: #232f3e;
}
.custom-dropdown {
  position: relative;
  display: inline-block;
}

.custom-dropdown-input {
  width: 10vw;
  padding:.11vw;
  cursor: pointer;
  background-color:#232f3e;
}

.custom-dropdown-list {
  display: none;
  position: absolute;
  z-index: 1;
  background-color:white;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.custom-dropdown-list-item {
  padding: 10px;
  cursor: pointer;
}
.thirdfoot{
  background-color: #131a22;
  color: #FFFFFF;
  font-size: small;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.headinginthirdfoot{
  font-size: .9vw;
  font-weight:500;
  color: #f2f2f2;
  padding-top: 1vw;
  cursor: pointer;
}
.contfoot3{
  font-size: .85vw;
  color: gray;
  padding: 0;
  cursor: pointer;
}
.topfoot33{
  padding-top: 1vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.foottopp
{
  display: flex;align-content: center;justify-content: center;height:3.2vw;width: 100%;background-color: 
  #37475a;
  cursor: pointer;
}
.foottopp:hover
{
  display: flex;align-content: center;justify-content: center;height:3.2vw;width: 100%;background-color: 
  #43546b;
  cursor: pointer;
}
.droplangtop {
  position: relative; /* Add position: relative; */
}

.hiddenn {
  border-radius: 1.5%;
  position: absolute;
  top: 120%;
  left: 0;
  width: 360%;
  height:1600%;
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.droplangtop:hover .hiddenn {
  opacity: 1;
  visibility: visible;
}

.hidsign{
  visibility: hidden;
  position:absolute;
  opacity: 0;
  background-color: #f2f2f2;
  width: 34vw;
  border-radius: 1.5%;
  left:-320%;
}
.iwillhideyou:hover .hidsign{
    visibility: visible;
    opacity: 1;
    filter: brightness(1.05);
    z-index: 2;
}


.yetanother div{
  color: gray;
  
}
.yetanother{
  padding-left: 1.5vw;
  padding-right: 1.5vw;
 
}
.btn{
  width:15vw;
  margin-top: 1vw;
}

.leftrightcard {
  box-sizing: border-box;
  width: 97vw;
  height: 20vw;
  background-color: #ffffff;
  margin-left: 1vw;
  margin-bottom: 1.5vw;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.leftright {
  width: 20vw;
  margin-left: 1.5vw;
  background-color: rgb(255, 255, 255);
  height: 100%;
  display: inline-block;
}


.for { 
  position: absolute;
  margin-top: 74vw;
  background-color: rgba(211, 217, 222, 0.577);
  width: 5vw;
  height: 10vw;
  
  z-index: 1;
  /* display: inline-block; */
  cursor: pointer; /* Added cursor property for better indication of clickability */
}
#forr{
  left: 94vw;
  position: absolute;
  margin-top: -17vw;
  
}
.leftright img,.for img{
    margin: 1vw;
    width: 90%;
    height: 90%;
}
body{
  overflow-x: hidden;
}
.for img{
  margin-left: 0;
  margin-top: 1vw;
      width: 100%;
    height: 80%;
}

.for:hover{
  position: absolute;
  margin-top: 74vw;
  background-color: rgba(252, 252, 252,.75);
  width: 5vw;
  height: 10vw;
  z-index: 1;
  /* display: inline-block; */
  cursor: pointer; /* Added cursor property for better indication of clickability */
}
#for:hover{
  left: 94vw;
  position: absolute;
  margin-top: -17vw;
}
#carouselExample{
  padding-top: 6.5vw;
}
.carousel-control-next , .carousel-control-prev{
  padding-top: 25vw;
}
.btn-warning{
  font-size: 1vw;
}
#back{
  cursor: pointer;
}

.sidebar {
  position: absolute;
  height: 100vh;
  width: 24vw;
  z-index: 5;
  left: -25vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  cursor: pointer;
  transition: transform .5s ease-in-out;
}



.bar{
  height: 3.5vw;
  margin-bottom: 1vw;
  width: 100%;
  background-color: rgb(35,47,62);
  display: flex;
  align-items: center;

}
.s{
  color: #FFFFFF;
  font-size: 1.5vw;
  display: flex;
  align-items: center;

}
.bar img{
  width: 2.5vw;
  margin-bottom: 1vw;
  margin-right: 1vw;
  margin-left: 3.2vw;
}
.sidebarhead{
  font-size: 1.3vw;
  font-weight: 700;
  margin-left: 3vw;
  margin-bottom: 1vw;
}
.sidebarcont{
  font-size: 1vw;
  font-weight: 450;
  padding-left: 3vw;
  padding-top: .5vw;
  padding-bottom: .5vw;

}
.sidebarcont:hover{
  font-size: 1vw;
  font-weight: 450;
  padding-left: 3vw;
  background-color: #f2f2f2;
}
#all{
  font-weight: 700;
}

.seeall img{
   width: 1.5vw;
   margin-left: .5vw;
   margin-bottom: .3vw;
}
