body {
    height: auto;
    margin: 0;
    padding: 0;
}

.layered-image {
    /* height: 100vh;
    width: 205vh; */
    background: linear-gradient(to bottom, transparent, rgb(255, 255, 255)),
      url("https://images-eu.ssl-images-amazon.com/images/G/31/img22/Wireless/devjyoti/GW/Uber/Nov/D103625178_DesktopTallHero_3000x1200._CB574597993_.jpg");
    background-size: cover; /* Adjust this property */
    background-position: center; /* Center the background image */
}
